<%=render 'set_up_process'%>
<div class="set-up-interest" style="margin-top: 40px">
	<div class="container" style="max-width: 920px!important;background-color: #FFF;">
		<h1 style="    color: rgba(0,0,0,.8);font-size: 24px;line-height: 1.1; margin-bottom: 6px;    font-weight: 700;margin-bottom: 20px">Pick some type of food you are interested in</h1>
			<script type="text/javascript">
			$(document).ready(function(){
				$("#cookie").on("click", function(){
				        $("#cookie").toggleClass("is-selected");
				    });
				});
			$(document).ready(function(){
				$("#drink").on("click", function(){
				        $("#drink").toggleClass("is-selected");
				    });
				});
			$(document).ready(function(){
				$("#pizza").on("click", function(){
				        $("#pizza").toggleClass("is-selected");
				    });
				});
			</script>
		<div style="margin: 0;padding: 0" class="form-group">
			<div  class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button id="cookie" class="tag-button" data-toggle="buttons">
				<span style="">Hành Động</span> </button>	
			</div>
			<div   class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button id="drink" class="tag-button" data-toggle="buttons">
				<span style="">Viễn Tưởng</span> </button>	
			</div>
			<div  class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button id="pizza" class="tag-button" data-toggle="buttons">
				<span style="">Kinh Dị</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Tâm lý</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Tình Cảm</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons" >
				<span class="tag-span">Hoạt Hình</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Tình Yêu</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Gia đình</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Hài Hước</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Cổ Trang</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Phiêu lưu</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(https://i.ytimg.com/vi/YPqXu7jJh-M/maxresdefault.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Phim chiếu rạp</span> </button>	
			</div>
			<div class="tag-token btn-group" style="background-image: url(//cdn.jamieoliver.com/recipe-database/oldImages/xtra_med/538_1_1436889976.jpg);">
				<button class="tag-button" data-toggle="buttons">
				<span style="">Phim Việt Nam</span> </button>	
			</div>

		</div>
	</div>
</div>


